* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contain{
    
}

.show-slide{
    width: 300px;
    height: 168px;
    display: flex;
    margin: auto;
    position: relative;
    overflow: hidden;
}

input {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}


#input-2,
#input-3,
#input-4 {
    right: 30px;
}

#input-1:checked ~ .slide{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: transform linear 0.5s;
    -webkit-transition: transform linear 0.5s;
    -moz-transition: transform linear 0.5s;
    -ms-transition: transform linear 0.5s;
    -o-transition: transform linear 0.5s;
}
#input-2:checked ~ .slide{
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: transform linear 0.5s;
    -webkit-transition: transform linear 0.5s;
    -moz-transition: transform linear 0.5s;
    -ms-transition: transform linear 0.5s;
    -o-transition: transform linear 0.5s;
}
#input-3:checked ~ .slide{
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transition: transform linear 0.5s;
    -webkit-transition: transform linear 0.5s;
    -moz-transition: transform linear 0.5s;
    -ms-transition: transform linear 0.5s;
    -o-transition: transform linear 0.5s;
}
#input-4:checked ~ .slide{
    transform: translateX(-300%);
    -webkit-transform: translateX(-300%);
    -moz-transform: translateX(-300%);
    -ms-transform: translateX(-300%);
    -o-transform: translateX(-300%);
    transition: transform linear 0.5s;
    -webkit-transition: transform linear 0.5s;
    -moz-transition: transform linear 0.5s;
    -ms-transition: transform linear 0.5s;
    -o-transition: transform linear 0.5s;
}


