* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contain{
    
}


.show-slide{
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: flex;
}

.slide-1,
.slide-2,
.slide-3,
.slide-4{

}