* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contain{
    
}

.show-slide{
    width: 300px;
    height: 168px;
    margin: auto;
    /* position: relative;
    overflow: hidden; */
}




